# Default behaviour, for if core.autocrlf isn't set
* text=auto

# the linguist-vendored/linguist-generated attribute suppresses changes being
# displayed by default in pull requests.
/dist/**/*.js -diff linguist-generated
/dist/**/*.txt -diff linguist-generated
/lint-doc/dist/*.js -diff linguist-generated
/lint-doc/dist/*.txt -diff linguist-generated
/lint-fmt/dist/*.js -diff linguist-generated
/lint-fmt/dist/*.txt -diff linguist-generated
/lint-opam/dist/*.js -diff linguist-generated
/lint-opam/dist/*.txt -diff linguist-generated
