name: Main workflow

on:
  pull_request:
  push:
  schedule:
    # Prime the caches every Monday
    - cron: 0 1 * * MON

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        ocaml-compiler:
          - 4.12.x
        cache:
          - true
          - false
        include:
          - os: ubuntu-latest
            ocaml-compiler: ocaml-variants.4.12.0+options,ocaml-option-32bit
            cache: true
          - os: ubuntu-latest
            ocaml-compiler: ocaml-variants.4.12.0+options,ocaml-option-flambda,ocaml-option-musl,ocaml-option-static
            cache: true
          - os: ubuntu-latest
            ocaml-compiler: ocaml-variants.4.12.0+domains
            opam-repositories: |
              multicore: https://github.com/ocaml-multicore/multicore-opam.git
              default: https://github.com/ocaml/opam-repository.git
            cache: true
          - os: ubuntu-latest
            ocaml-compiler: ocaml-variants.4.12.0+domains+effects
            opam-repositories: |
              multicore: https://github.com/ocaml-multicore/multicore-opam.git
              default: https://github.com/ocaml/opam-repository.git
            cache: true

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use Node.js 12.x
        uses: actions/setup-node@v2
        with:
          node-version: 12.x

      - name: Install npm packages
        if: runner.os == 'Linux'
        run: yarn --frozen-lockfile

      - name: Check formatting
        if: runner.os == 'Linux'
        run: yarn fmt:check

      - name: Check lint
        if: runner.os == 'Linux'
        run: yarn lint

      - name: Check type
        if: runner.os == 'Linux'
        run: yarn typecheck

      - name: Ensure dist directory is up-to-date
        if: runner.os == 'Linux'
        shell: bash
        run: |
          yarn build
          if [ "$(git status dist --porcelain | wc -l)" -gt "0" ]; then
            echo "Detected uncommitted changes after build. See status below:"
            git diff
            exit 1
          fi

      - name: Use OCaml ${{ matrix.ocaml-compiler }}
        uses: ./
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}
          dune-cache: ${{ matrix.cache }}
          opam-repositories: ${{ matrix.opam-repositories }}

      - run: opam depext uri --install
