name: Builds, tests & co

on:
  pull_request:
  push:
  schedule:
    # Prime the caches every Monday
    - cron: 0 1 * * MON

permissions: read-all

jobs:
  hygiene:
    name: Hygiene
    runs-on: ubuntu-latest
    steps:
      - name: Checkout tree
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Set-up Mise
        uses: jdx/mise-action@be3be2260bc02bc3fbf94c5e2fed8b7964baf074 # v3.4.0
      - run: yarn install --immutable
      - if: always()
        run: yarn lint
      - if: always()
        run: yarn typecheck
      - name: Ensure dist directory is up-to-date
        if: always()
        run: yarn build && git diff --exit-code --ignore-cr-at-eol

  test:
    name: Test
    needs: hygiene
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        ocaml-compiler:
          - "5.3"
        allow-prerelease-opam:
          - false
        include:
          - os: ubuntu-latest
            ocaml-compiler: ocaml-variants.5.3.0+options,ocaml-option-flambda
            allow-prerelease-opam: false
          - os: ubuntu-latest
            ocaml-compiler: "5.3"
            allow-prerelease-opam: true
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout tree
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Set-up OCaml ${{ matrix.ocaml-compiler }}
        uses: ./
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}
          allow-prerelease-opam: ${{ matrix.allow-prerelease-opam }}
      - run: opam install ssl

  test-container:
    name: Test on a container in a GitHub runner
    needs: hygiene
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
    steps:
      - name: Checkout tree
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Install dependencies
        run: pacman -Sy --noconfirm bash bubblewrap ca-certificates coreutils curl diffutils gcc git make nano ncurses patch rsync sudo tar unzip xz
      - name: Set-up OCaml
        uses: ./
        with:
          ocaml-compiler: "5.3"
      - run: opam install ssl
